body{
    display: flex;
    margin: 0;
    padding: 0;
}
.left_part{
    width: 50%;
    height: 100vh;
    text-align: center;
    color: #fff;
    background-color: #993430;
}
h1{
    font-size: 60px;
    padding-top:30%;
}
p{
    font-size: 40px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.right_part{
    width:50%;
}
h3{
    margin-left: 30%;
}
.list{
    
}
ul{
    
}
